@font-face {
  font-family: "icons";
  src: url("../assets/icons.eot");
  src: url("../assets/icons.eot?#iefix") format("embedded-opentype"),
       url("../assets/icons.woff") format("woff"),
       url("../assets/icons.ttf") format("truetype"),
       url("../assets/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("../assets/icons.svg#icons") format("svg");
  }
}

[class^="icons-"]:before, [class*=" icons-"]:before,
[class^="icons-"]:after, [class*=" icons-"]:after {   
  font-family: icons;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.icons-tick:before { content: "\f100"; }
.icons-cancel-button:before { content: "\f101"; }
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#app {
  max-width: 500px;
  margin: 100px auto 0 auto;
}
.files-list {
  display: flex;
  flex-wrap: wrap;
}
.file {
  flex: 1 0 25%;
  max-width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.file-thumbnail {
  padding-top: 100%;
  position: relative;
  background: #eee;
  margin-bottom: 10px;
}
.file-thumbnail img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.file-remove {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 200ms, color 200ms;
  cursor: pointer;
  color: #aaa;
  z-index: 2;
}
.file:hover .file-remove {
  opacity: 1;
}
.file-remove:hover {
  color: #999;
}
.file-name {
  text-align: center;
}
/* draggable zone */
.drag {
  width: 100%;
  min-height: 300px;
  position: relative;
  border: 1px dashed #ccc;
  margin-top: 30px;
  padding: 10px;
}
.drag.dragover {
  border-color: #333;
}
.drag.dragover .drag-title-arrow {
  animation: floating 500ms ease-in infinite;
}
.drag.loaded .drag-title, .drag.loading .drag-title {
  display: none;
}
.drag-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  font-weight: bolder;
  width: 100%;
}
.drag-title-icon {
  margin-top: 25px;
}
.drag-title-icon svg {
  width: 50px;
}
.drag-save {
  text-align: center;
  display: none;
}
.drag.loaded:not(.file-loading) .drag-save {
  display: block;
}
.drag.loading .drag-save button {
  cursor: not-allowed;
}
.drag-save button {
  background: transparent;
  outline: none;
  border: 1px solid #eee;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 200ms;
}
.drag-save button:hover {
  border-color: #ccc;
}
/* file-loader */
.file-loader {
  height: 5px;
  background: #eee;
  width: 0;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
/* snackbar */

.snackbar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.snackbar-item {
  padding: 10px;
  background: darkgreen;
  color: #fff;
  transition: opacity 200ms;
}
.snackbar-item--removing {
  opacity: 0;
}
.snackbar-item:not(:last-child) {
  margin-bottom: 3px;
}
.snackbar-item--danger {
  background: crimson;
}
.snackbar-item--info {
  background: cornflowerblue;
}